body {
    background-image: url("images/pier.jpg");
    height: 100%;
    font-family: 'Cormorant Garamond', serif;
}
.btn-container{
    text-align: center;
    margin-top: 10px;
}
#mainSection{
    margin-top: 100px;
    font-family: 'Kalam', cursive;
    margin-bottom: 80px;
}
.quote-div{
  font-family: 'Kalam', cursive;
  margin-top: 50px;
  text-align: center;
}
#quoteButton{
    color: black;
    font-family: 'Kalam', cursive;
    background-color:#0b3b6fa6;
    opacity: 0.7;
    border-radius: 5px;
    padding-top: 3px;

}
i{
   font-size: 50px;
   color:#0b3b6fa6;
   opacity: 0.7;
}
.preWeatherinfo{
  opacity: 0.5;
}
.weatherTittle{
    margin-left: 60px;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    text-align: left;
}

#location-form{
    /* position: fixed; */
    margin-top: 15px;
    margin-left: 60px;
    font-family: 'Kalam', cursive;
    text-align: left;
  
}
.weatherInfo{
  font-family: 'Kalam', cursive;
  text-align: left;
  font-size: 20px;
  margin-left: 60px;
  color: #0b3b6fa6;
  margin-bottom: 40px;
}
.preWeatherinfo:hover{
 opacity: 1.0;

}
/* #location-form:hover{
  opacity: none;
} */

#bottom-footer{
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
    /* background:#43484c85; */
}

#copyright {
  color:rgba(55, 71, 79,0.88);
}

  /* modal styles
----------------------------------------------- */
#welcomeModal, #timerModal, {
 background-color: rgba(55, 71, 79,0.88);
}
.modal-content{
    text-align: center;
    padding: 30px;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 250px;
  }
  #userChart{
    background-color:#f5f5f591;
    text-align: center;

  }
  #myChart{
    padding: 90px;
  }
h2{
  font-family: 'Poiret One', cursive;
}
  .modal-title p {
    margin: 0;
  }

  #my-modal-body {
    padding: 30px;
  }

  #customizeTime {
    margin: 40px 0;
  }
  #startBtn{
    background:#0b3b6fa6;
    border: none;

  }

  #hour,
  #minute,
  #second {
    width: 50px;
    display: inline;
  }

  #submitBtn {
    width: 80px;
  }

  #minuteBtn1,
  #minuteBtn2,
  #minuteBtn3,
  #customizeBtn {
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    border-color: rgba(128, 128, 128, 0.5);
    background-color: rgba(128, 128, 128, 0.05);
  }

  #minuteBtn1:hover,
  #minuteBtn2:hover,
  #minuteBtn3:hover,
  #customizeBtn:hover {
    background-color: rgba(128, 128, 128, 0.2);
  }

  #minuteBtn1:focus,
  #minuteBtn2:focus,
  #minuteBtn3:focus,
  #customizeBtn:focus {
    background-color: rgba(128, 128, 128, 0.5);
  }

  .backBtn {
    background: none;
    border: none;
    color: rgb(108, 117, 125);
  }

  .backBtn:hover {
    color: black;
  }
